<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="lastKnownLocationServerVerticle" class="net.devaction.mylocation.lastknownlocationcore.server.LastKnownLocationServerVerticle">
        <property name="addressProvider" ref="configValuesProvider"/>
        <property name="handler" ref="lastKnownLocationServerHandler"/>
    </bean>    
    
    <bean id="lastKnownLocationServerHandler" class="net.devaction.mylocation.lastknownlocationcore.server.LastKnownLocationServerWorkerHandler" > 
        <property name="errorBufferProvider" ref="errorBufferProvider"/>
        <property name="lastLocationReader" ref="lastLocationReader"/>
    </bean>
    
    <bean id="errorBufferProvider" class="net.devaction.mylocation.lastknownlocationcore.server.ErrorBufferProvider"/>
    
    <bean id="lastLocationReader" class="net.devaction.mylocation.lastknownlocationcore.server.blocking.LastLocationReader">
        <property name="filePathProvider" ref="configValuesProvider"/>
    </bean>
    
    <bean id="configValuesProvider" class="net.devaction.mylocation.lastknownlocationcore.config.ConfigValuesProvider">
        <property name="persistenceBaseDirProvider" ref="persistenceBaseDirProvider"/>
    </bean>
    
    <bean id="persistenceBaseDirProvider" class="net.devaction.mylocation.lastknownlocationcore.config.PersistenceBaseDirProviderImpl"/>
</beans>

